.tableCustom {
    margin-top: 3%;
    height: 50%;
    color: #f8f9fa; /* Màu chữ sáng để dễ đọc trên nền tối */
    border-radius: 12px; /* Bo góc cho bảng */
    /*padding: 2% 1%;*/
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.4); /* Thêm bóng cho bảng để tạo chiều sâu */
    backdrop-filter: blur(20px);
    overflow-x: auto; /* Hide horizontal scrollbar */
}

.tableCustom th,
.tableCustom td {
    padding: 1% 2%; /* Tăng khoảng cách giữa các ô để bảng trông thoáng hơn */
    text-align: center;
}

.tableCustom th {
    position: sticky;
    top: 0;
    background-color: rgba(52, 58, 64); /* Nền tiêu đề bảng tối hơn để dễ phân biệt */
    color: #f8f9fa; /* Chữ sáng cho tiêu đề */
    font-weight: bold;
}

.tableCustom tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1); /* Nền dòng chẵn sáng hơn để phân biệt */
}

.tableCustom tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Hiệu ứng hover sáng hơn */
}

.btn-success {
    background-color: #28a745; /* Màu xanh lá cây tươi cho nút Present */
    border-color: #28a745;
    color: white;
}

.btn-success:hover {
    background-color: #218838; /* Màu sắc khi hover */
    border-color: #1e7e34;
}

.btnBackFinish {
    background-color: #007bff; /* Màu xanh dương cho nút Back */
    border-color: #007bff;
    color: white;
    margin-left: 1%;
}

.btn-primary:hover {
    background-color: #0056b3; /* Màu sắc khi hover */
    border-color: #004085;
}
